# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea
/src/main/resources/luaConfig.properties
**/luaConfig.properties*
/target/classes/luaConfig.properties
luaConfig.properties*

/src/main/resources/watson.properties
watson.properties*
/target/classes/watson.properties
**/watson.properties*

/src/main/resources/connection.properties
watson.connection*
/target/classes/connection.properties
**/connection.properties*